$color-fiber-1: #007ac0;
$color-fiber-2: #ff9900;
$color-fiber-3: #00b050;
$color-fiber-4: #993300;
$color-fiber-5: #535357;
$color-fiber-6: white;
$color-fiber-7: #890000;
$color-fiber-8: black;
$color-fiber-9: yellow;
$color-fiber-10: #7030a0;
$color-fiber-11: #cc0066;
$color-fiber-12: #00ff99;

.bg-fiber-1, .bg-fiber-13 {
  background-color: $color-fiber-1;
  color: white;
}
.bg-fiber-2, .bg-fiber-14 {
  background-color: $color-fiber-2;
  color: black;
}
.bg-fiber-3, .bg-fiber-15 {
  background-color: $color-fiber-3;
  color: white;
}
.bg-fiber-4, .bg-fiber-16 {
  background-color: $color-fiber-4;
  color: white;
}
.bg-fiber-5, .bg-fiber-17 {
  background-color: $color-fiber-5;
  color: white;
}
.bg-fiber-6, .bg-fiber-18 {
  background-color: $color-fiber-6;
  color: black;
}
.bg-fiber-7, .bg-fiber-19 {
  background-color: $color-fiber-7;
  color: white;
}
.bg-fiber-8, .bg-fiber-20 {
  background-color: $color-fiber-8;
  color: white;
}
.bg-fiber-9, .bg-fiber-21 {
  background-color: $color-fiber-9;
  color: black;
}
.bg-fiber-10, .bg-fiber-22 {
  background-color: $color-fiber-10;
  color: white;
}
.bg-fiber-11, .bg-fiber-23 {
  background-color: $color-fiber-11;
  color: white;
}
.bg-fiber-12, .bg-fiber-24 {
  background-color: $color-fiber-12;
  color: black;
}

.bg-fiber-13, .bg-fiber-16, .bg-fiber-17, .bg-fiber-20, .bg-fiber-22 {
  background-image: linear-gradient(45deg,rgba(255,255,255,.1) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.1) 50%,rgba(255,255,255,.1) 75%,transparent 75%,transparent);
  background-size: 20px 20px;
}

.bg-fiber-14, .bg-fiber-15, .bg-fiber-18, .bg-fiber-19, .bg-fiber-21, .bg-fiber-23, .bg-fiber-24 {
  background-image: linear-gradient(45deg,rgba(0,0,0,.1) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.1) 75%,transparent 75%,transparent);
  background-size: 20px 20px;
}

.outline-fiber-1, .outline-fiber-13, .label.label-outline.outline-fiber-1, .label.label-outline.outline-fiber-13 {
  color: $color-fiber-1;
  border-color: $color-fiber-1;
  box-shadow: 0 0 0 1px $color-fiber-1 inset;
}
.outline-fiber-2, .outline-fiber-14, .label.label-outline.outline-fiber-2, .label.label-outline.outline-fiber-14 {
  color: $color-fiber-2;
  border-color: $color-fiber-2;
  box-shadow: 0 0 0 1px $color-fiber-2 inset;
}
.outline-fiber-3, .outline-fiber-15, .label.label-outline.outline-fiber-3, .label.label-outline.outline-fiber-15 {
  color: $color-fiber-3;
  border-color: $color-fiber-3;
  box-shadow: 0 0 0 1px $color-fiber-3 inset;
}
.outline-fiber-4, .outline-fiber-16, .label.label-outline.outline-fiber-4, .label.label-outline.outline-fiber-16 {
  color: $color-fiber-4;
  border-color: $color-fiber-4;
  box-shadow: 0 0 0 1px $color-fiber-4 inset;
}
.outline-fiber-5, .outline-fiber-17, .label.label-outline.outline-fiber-5, .label.label-outline.outline-fiber-17 {
  color: $color-fiber-5;
  border-color: $color-fiber-5;
  box-shadow: 0 0 0 1px $color-fiber-5 inset;
}
.outline-fiber-6, .outline-fiber-18, .label.label-outline.outline-fiber-6, .label.label-outline.outline-fiber-18 {
  color: $color-fiber-6;
  border-color: $color-fiber-6;
  box-shadow: 0 0 0 1px $color-fiber-6 inset;
}
.outline-fiber-7, .outline-fiber-19, .label.label-outline.outline-fiber-7, .label.label-outline.outline-fiber-19 {
  color: $color-fiber-7;
  border-color: $color-fiber-7;
  box-shadow: 0 0 0 1px $color-fiber-7 inset;
}
.outline-fiber-8, .outline-fiber-20, .label.label-outline.outline-fiber-8, .label.label-outline.outline-fiber-20 {
  color: $color-fiber-8;
  border-color: $color-fiber-8;
  box-shadow: 0 0 0 1px $color-fiber-8 inset;
}
.outline-fiber-9, .outline-fiber-21, .label.label-outline.outline-fiber-9, .label.label-outline.outline-fiber-21 {
  color: $color-fiber-9;
  border-color: $color-fiber-9;
  box-shadow: 0 0 0 1px $color-fiber-9 inset;
}
.outline-fiber-10, .outline-fiber-22, .label.label-outline.outline-fiber-10, .label.label-outline.outline-fiber-22 {
  color: $color-fiber-10;
  border-color: $color-fiber-10;
  box-shadow: 0 0 0 1px $color-fiber-10 inset;
}
.outline-fiber-11, .outline-fiber-23, .label.label-outline.outline-fiber-11, .label.label-outline.outline-fiber-23 {
  color: $color-fiber-11;
  border-color: $color-fiber-11;
  box-shadow: 0 0 0 1px $color-fiber-11 inset;
}
.outline-fiber-12, .outline-fiber-24, .label.label-outline.outline-fiber-12, .label.label-outline.outline-fiber-24 {
  color: $color-fiber-12;
  border-color: $color-fiber-12;
  box-shadow: 0 0 0 1px $color-fiber-12 inset;
}
