@import "variables";

.permission-list > a {
  line-height: 2em;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 0 0 6px 8px;
}

.sidetag {
  display: inline-block;
  white-space: nowrap;

  .label {
    padding-right: 20px;
  }
  .label-tag {
    margin-left: -10px;

    &:last-of-type {
      padding-right: .545em;
    }
  }
}
